.hero {
  padding: 50px 0;
  display: flex;
  width: 100%;
  height: calc(100vh - 64px);
  min-height: 510px;
  background-size: 130%;
  background-repeat: no-repeat;
  background-image: url("../../assets/halyna-stepanenko.jpg");
  background-color: #adb5bf;
  background-blend-mode: overlay;
  box-shadow: inset 0px -3px 4px -4px rgba(0, 0, 0, 0.2);
}

.hero > div {
  width: 70%;
  min-width: 300px;
  margin: 0;
  box-sizing: border-box;
}
