html {
  scroll-behavior: smooth;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* footer {
  position: relative;
  min-height: 150px;

  background: linear-gradient(172deg, transparent 120px, #e6e8eb 0);
} */

@keyframes brightLineAnimation {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
